* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: -webkit-linear-gradient( left, #008c04 50%, #006400 100%);
    overflow: auto;
    position: relative;
}

.container-nav {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    left: 1rem;
    top: -2rem;
}

.container-nav button, button::after {
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #000000 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 50px;
    box-shadow: 6px 0px 0px #001aff;
    outline: transparent;
    position: relative;
  }
  
.container-nav  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'Kembali';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #001aff 3%, #001aff 5%, #ff0000 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #001aff;
    clip-path: var(--slice-0);
  }
  
.container-nav  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }


.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    border-radius: 15px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}
.contact-form form{
    padding: 10% 5%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: gold;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: darkgreen;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.mobile {
    display: none;
}

.dekstop {
    display: block;
}

@media (min-width: 1px) and (max-width: 768px) and (min-height:320px) and (max-height:1080px) {
    .container-nav {
        left: 1rem;
        top: -1rem;
    }

    .mobile {
        display: block;
    }
    .dekstop {
        display: none;
    }
}